@import url("vars.css");

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: var(--text-font-family);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}

h1,h2,h3 {
  font-family: var(--title-font-family);
  letter-spacing: 15px;
}

h2,h3 {
  font-weight: lighter;
  letter-spacing: 6px;
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.centered-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.btn {
  padding: 0.6rem 1.2rem;
  width: 121px;
  color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  transition: all 0.5s;
  transition-timing-function: ease-out;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  text-decoration: none;
  font-family: var(--title-font-family);
  letter-spacing: 2px;

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-dark);
    border-color: var(--primary-color-shadow);
    cursor: pointer;
    font-weight: bold;

  }
  
}

header {
  background-color: var(--secondary-dark);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);

  div.logo {
    font-family: var(--title-font-family);
    letter-spacing: 15px;

    span {
      font-size: 4rem;

      &#movie {
        color: white;
      }
      &#corn {
        color: var(--primary-color);
      }

    }

  }

}

@media screen and (max-width: 500px) {
  
  body {
    font-size: 15px;

  }

}